/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blueviolet;
}

/* Container styles */
.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    color: #333;
    font-size: 2rem;
    font-weight: bold;
}
